:root {
  --primary: #9d59f7;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0.616);
  border-bottom: 1px solid rgba(0, 0, 0, 0.411);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
